body {
  font-family: "Inter", sans-serif;
}
/* Simple class to hide elements */
.hidden {
  display: none;
}
/* Custom prose styles for content */
.prose {
  color: hsl(var(--bc) / 0.7);
}
.prose p {
  margin-bottom: 1rem;
}
