{% extends 'qnahub/base.html' %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div class="hero bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="max-w-sm rounded-lg shadow-2xl"
    />
     <div class="divider lg:divider-horizontal"></div>
    <div class="text-center">
      <h1 class="text-5xl font-bold">Update form!</h1>
      <p class="py-6">
        what is this
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

{% endblock content %}