{% extends 'qnahub/base.html' %}
{% block title %} Login {% endblock title %}
{% block content %}
<main class="flex-1 flex items-center justify-center p-4">
    <div class="card bg-base-100 w-full  shrink-0 shadow-2xl">
        <form class="card-body" method="POST">
            {% csrf_token %}
            <h1 class="text-3xl font-bold text-center">Welcome Back!</h1>
            <p class="text-center opacity-70 mb-4">
                Log in to ask questions, share your knowledge, for the benefit of the Ummah.
            </p>

            {% if form.non_field_errors %}
                <div role="alert" class="alert alert-error mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ form.non_field_errors.as_text }}</span>
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-control">
                    <label class="label" for="{{ field.id_for_label }}"><span class="label-text">{{ field.label }}</span></label>
                    {{ field }}
                    {% for error in field.errors %}<p class="text-error text-xs mt-1">{{ error }}</p>{% endfor %}
                </div>
            {% endfor %}

            <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
            </div>
            <div class="divider">OR</div>
            <p class="text-center text-sm">
                Don't have an account? <a href="{% url 'qnahub-register' %}" class="link link-primary">Sign Up</a>
            </p>
        </form>
    </div>
</main>
{% endblock content %}